---
import "../styles/general.css";
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
import Poster from "../components/Poster.astro";
import CountDown from "../components/CountDown.astro";
---

<MainLayout>
  <section class="hero">
    <img class="hero_img" src="img/hero.jpeg" alt="hero image" />
    <div class="container">
      <div class="list">
        <div class="item">
          <span class="item_txt">Karrusel Festival</span>
          <img class="star" src="svg/star.svg" alt="star icon" />
          <span class="date">22.-24. Aug 2024</span>
          <img class="star" src="svg/star.svg" alt="star icon" />
          <span class="item_txt">Karrusel Festival</span>
          <img class="star" src="svg/star.svg" alt="star icon" />
          <span class="date">22.-24. Aug 2024</span>
        </div>
      </div>
      <div class="container">
        <div class="list">
          <div class="item">
            <span class="item_txt">Karrusel Festival</span>
            <img class="star" src="svg/star.svg" alt="star icon" />
            <span class="date">22.-24. Aug 2024</span>
            <img class="star" src="svg/star.svg" alt="star icon" />
            <span class="item_txt">Karrusel Festival</span>
            <img class="star" src="svg/star.svg" alt="star icon" />
            <span class="date">22.-24. Aug 2024</span>
            <img class="star" src="svg/star.svg" alt="star icon" />
          </div>
        </div>
      </div>
    </div>
    <Button type="primary" link="/#">Buy tickets</Button>
  </section>

  <section class="grid">
    <article class="grid_1-1-1-1">
      <h3 class="txt_left">3 days</h3>
      <h1>House, disco & techno</h1>
      <h3 class="txt_right">In the woods</h3>
    </article>
    <Button type="secondary" link="/#">Read more</Button>
  </section>
  <section class="poster">
    <Poster />
    <Button type="secondary" link="/#">Read more</Button>
  </section>
  <section class="count_down">
    <CountDown number="08" unit="Days" />
    <CountDown number="11" unit="Hours" />
    <CountDown number="42" unit="Mins" />
  </section>
  <section class="faq">
    <Card heading="FAQ" button="Read more" link="/#"
      ><p>
        Explore the Essentials: Your go-to guide for all things festival-related! Our Frequently Asked Questions (FAQ) page provides quick answers to common queries about transportation, access passes, facilities, and more. Have a question? Find it here or reach out for personalized assistance.
        We're dedicated to ensuring your festival experience is seamless and unforgettable!
      </p>
    </Card>
  </section>
</MainLayout>

<style>
  .grid,
  .count_down,
  .faq {
    margin: 0 var(--spacing_4);
  }

  /******** Hero section ********/
  /* Hero billede placering */
  .hero_img {
    position: relative;
  }

  /* Text der looper - container */
  .container {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    gap: var(--spacing_11);
  }

  /* Animation på list indhold */
  .list {
    display: flex;
    align-items: top;
    -webkit-animation: loop 20s infinite linear;
    animation: loop 20s infinite linear;
  }

  @keyframes loop {
    100% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }

  /* Styling af loop indhold*/
  .item_txt,
  .star,
  .date {
  }
  .item_txt,
  .date {
    font-family: var(--font_display);
    color: var(--primary_50);
  }

  .item_txt {
    font-size: 3.125rem;
  }
  .date {
    font-size: 1.875rem;
  }
  .star {
    width: 40px;
  }

  .button_primary {
    display: grid;
    place-self: center;
  }

  /************* Section 2 ***********/
  .grid {
    display: flex;
    flex-direction: column;
    gap: var(--spacing_10);
    align-items: center;
  }

  /* Grid på section */
  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--spacing_5);
  }

  /* 3 days - placering */
  .txt_left {
    display: grid;
    grid-column: 1 / span 2;
    place-content: end center;
  }

  /* House, disco og techno - placering */
  h1 {
    text-align: center;
    padding-top: var(--spacing_3);
    padding-bottom: var(--spacing_3);
    grid-column: 1 / span 4;
    grid-row: 2;
  }

  /* in the woods - placering */
  .txt_right {
    display: grid;
    grid-column: 3 / span 2;
    place-content: start center;
    grid-row: 3;
    white-space: nowrap;
  }

  /* Button - placering */
  .button_secondary {
    display: grid;
    grid-column: 2 / span 2;
    place-self: start center;
  }

  /* Section Poster - Styling */
  .poster {
    background: url(/img/checkers.webp);
    background-repeat: no-repeat, no-repeat;

    display: flex;
    flex-direction: column;
    gap: var(--spacing_10);
    align-items: center;

    padding: var(--spacing_11) var(--spacing_4);
  }

  /* Section Count down - Styling */
  .count_down {
    display: flex;
    flex-direction: row;
    gap: var(--spacing_8);
    justify-content: center;
  }

  /* Section 2 i desk version */
  @media (min-width: 800px) {
    .grid,
    .count_down,
    .faq {
      margin: 0 var(--spacing_12);
    }
    .grid_1-1-1-1 {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
    }
    .txt_left {
      display: grid;
      grid-column: 3 / span 2;
      place-content: end center;
    }
    h1 {
      text-align: center;
      padding-top: var(--spacing_3);
      padding-bottom: var(--spacing_3);
      grid-column: 1 / span 12;
      grid-row: 2;
    }
    .txt_right {
      display: grid;
      grid-column: 7 / span 4;
      place-content: start center;
      grid-row: 3;
    }

    .count_down {
      gap: 10%;
    }
  }
</style>
