---
import "../styles/general.css";
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
import Poster from "../components/Poster.astro";
import CountDown from "../components/CountDown.astro";
---

<MainLayout>
  <section class="hero">
    <!-- <img class="hero_img" src="/img/hero.webp" alt="hero image" /> -->
    <picture>
      <source media="(min-width:800px)" srcset="/img/hero_desk.webp" class="hero_img" />
      <img src="/img/hero_mobil.webp" alt="hero image" style="width: auto" class="hero_img" />
    </picture>
    <div class="wrapper">
      <div class="container">
        <p class="item_txt">Karrusel Festival</p>
        <img class="star" src="/svg/star.svg" alt="star icon" />
        <p class="date">22.-24. Aug 2024</p>
        <img class="star" src="/svg/star.svg" alt="star icon" />
        <p class="item_txt">Karrusel Festival</p>
        <img class="star" src="/svg/star.svg" alt="star icon" />
        <p class="date">22.-24. Aug 2024</p>
        <img class="star" src="/svg/star.svg" alt="star icon" />
      </div>
      <div class="container">
        <p class="item_txt">Karrusel Festival</p>
        <img class="star" src="/svg/star.svg" alt="star icon" />
        <p class="date">22.-24. Aug 2024</p>
        <img class="star" src="/svg/star.svg" alt="star icon" />
        <p class="item_txt">Karrusel Festival</p>
        <img class="star" src="/svg/star.svg" alt="star icon" />
        <p class="date">22.-24. Aug 2024</p>
        <img class="star" src="/svg/star.svg" alt="star icon" />
      </div>
    </div>

    <article class="hero_but_row">
      <Button type="primary" link="/#" hide="">Buy tickets</Button>
      <img class="hero_arrow" src="/svg/arrow.svg" alt="pil" />
    </article>
  </section>

  <section class="grid">
    <article class="grid_1-1-1-1">
      <h3 class="txt_left">3 days</h3>
      <h1>House, disco & techno</h1>
      <h3 class="txt_right">In the woods</h3>
    </article>
    <Button type="secondary" link="/#" hide="">Read more</Button>
  </section>
  <section class="poster">
    <Poster />
    <Button type="secondary" link="/lineup" hide="">Read more</Button>
  </section>
  <section class="count_down">
    <CountDown number="08" unit="Days" />
    <CountDown number="11" unit="Hours" />
    <CountDown number="42" unit="Mins" />
  </section>
  <section class="faq">
    <Card heading="FAQ" button="Read more" link="/#"
      ><p>
        Explore the Essentials: Your go-to guide for all things festival-related! Our Frequently Asked Questions (FAQ) page provides quick answers to common queries about transportation, access passes, facilities, and more. Have a question? Find it here or reach out for personalized assistance.
        We're dedicated to ensuring your festival experience is seamless and unforgettable!
      </p>
    </Card>
  </section>

  <div class="background">
    <img class="blob_1" src="/svg/blob_single.svg" alt="blob" />
    <img class="blob_2" src="/svg/blob_single.svg" alt="blob" />
  </div>
</MainLayout>

<style>
  .grid,
  .count_down,
  .faq {
    margin: 0 var(--spacing_4);
  }

  /******** Hero section ********/
  /* Hero billede placering */
  .hero {
    overflow: hidden;
  }
  .hero_img {
    position: relative;
    z-index: 1;
  }

  .hero_but_row {
    position: absolute;
    z-index: 3;
    top: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  .hero_arrow {
    width: 4rem;
  }

  /* Text der looper - container */
  .wrapper {
    position: absolute;
    top: 425px;
    width: 100%;
    height: 200px;
    overflow: hidden;
  }
  .container {
    display: flex;
    white-space: nowrap;
    gap: 2rem;
    align-items: center;
    -webkit-animation: loop 20s infinite linear;
    animation: loop 20s infinite linear;
    position: absolute;
    z-index: 3;
    top: 50%;
  }

  @keyframes loop {
    100% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }

  .container:nth-child(2) {
    display: flex;
    white-space: nowrap;
    gap: 2rem;
    align-items: center;
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 345%;
    -webkit-animation: loop_2 20s infinite linear;
    animation: loop_2 20s infinite linear;
  }

  @keyframes loop_2 {
    100% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }

  /* Styling af loop indhold*/
  .item_txt,
  .star,
  .date {
  }
  .item_txt,
  .date {
    font-family: var(--font_display);
    color: var(--primary_50);
  }

  .item_txt {
    font-size: 3.125rem;
  }
  .date {
    font-size: 1.875rem;
  }
  .star {
    width: 30px;
  }

  .button_primary {
    display: grid;
    place-self: center;
  }

  /************* Section 2 ***********/
  .grid {
    display: flex;
    flex-direction: column;
    gap: var(--spacing_10);
    align-items: center;
  }

  /* Grid på section */
  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--spacing_5);
  }

  /* 3 days - placering */
  .txt_left {
    display: grid;
    grid-column: 1 / span 2;
    place-content: end center;
  }

  /* House, disco og techno - placering */
  h1 {
    text-align: center;
    padding-top: var(--spacing_3);
    padding-bottom: var(--spacing_3);
    grid-column: 1 / span 4;
    grid-row: 2;
  }

  /* in the woods - placering */
  .txt_right {
    display: grid;
    grid-column: 3 / span 2;
    place-content: start center;
    grid-row: 3;
    white-space: nowrap;
  }

  /* Button - placering */
  .button_secondary {
    display: grid;
    grid-column: 2 / span 2;
    place-self: start center;
  }

  /* Section Poster - Styling */
  .poster {
    background: url(/img/checkers.webp);
    background-repeat: no-repeat, no-repeat;

    display: flex;
    flex-direction: column;
    gap: var(--spacing_10);
    align-items: center;

    padding: var(--spacing_11) var(--spacing_4);
  }

  /* Section Count down - Styling */
  .count_down {
    display: flex;
    flex-direction: row;
    gap: var(--spacing_7);
    justify-content: center;
  }

  /********************* Blobber ********************/

  .grid,
  .faq,
  .count_down,
  .poster {
    position: relative;
    z-index: 1;
  }

  .background {
    position: absolute;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
  }
  .blob_1 {
    position: absolute;
    z-index: 0;
    rotate: 22deg;
    width: 160%;
    top: 120%;
    left: -30%;
  }

  .blob_2 {
    position: absolute;
    z-index: 0;
    rotate: 174deg;
    width: 160%;
    top: 260%;
    left: -30%;
  }

  @media (min-width: 800px) {
    .wrapper {
      height: 200px;
      top: 250px;
    }
    .container {
      gap: 3rem;
      top: 18%;
    }
    .container:nth-child(2) {
      gap: 3rem;
      top: 18%;
      left: 154.1%;
    }
    .item_txt {
      font-size: 6rem;
    }
    .date {
      font-size: 3rem;
    }
    .star {
      width: 35px;
    }
    .hero_but_row {
      top: 18%;
    }

    .container,
    .container:nth-child(2) {
      top: 10%;
    }

    /* Section 2 i desk version */
    .grid,
    .count_down,
    .faq {
      margin: 0 var(--spacing_12);
    }
    .grid_1-1-1-1 {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
    }
    .txt_left {
      display: grid;
      grid-column: 3 / span 2;
      place-content: end center;
    }
    h1 {
      text-align: center;
      padding-top: var(--spacing_3);
      padding-bottom: var(--spacing_3);
      grid-column: 1 / span 12;
      grid-row: 2;
    }
    .txt_right {
      display: grid;
      grid-column: 7 / span 4;
      place-content: start center;
      grid-row: 3;
    }

    .count_down {
      gap: 10%;
    }

    .blob_1 {
      position: absolute;
      z-index: 0;
      rotate: 22deg;
      width: 110%;
      top: 25%;
      left: -10%;
    }

    .blob_2 {
      position: absolute;
      z-index: 0;
      rotate: 174deg;
      width: 120%;
      top: 61%;
      left: -10%;
    }
  }
</style>
