---
import "../styles/general.css";

import MainLayout from "../layouts/MainLayout.astro";
import CardArtist from "../components/CardArtist.astro";
import Poster from "../components/Poster.astro";
import Button from "../components/Button.astro";

const data = await fetch("https://bxfurhdhskcxflbxstzf.supabase.co/rest/v1/karrusel", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ4ZnVyaGRoc2tjeGZsYnhzdHpmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA1MDMzNTMsImV4cCI6MjAyNjA3OTM1M30.LOhTm5mG10QgwCONoiEr4awaIvHkbSl4G1wxOgPX4Mk",
  },
}).then((res) => res.json());
---

<MainLayout>
  <section class="poster">
    <Poster />
  </section>

  <section class="artists">
    <h2>Artists</h2>
    <div>
      {
        data.map((artist, i) => {
          if (i < 6) {
            return <CardArtist data={artist} />;
          }
        })
      }
    </div>
    <div class="extra hide">
      {
        data.map((artist, i) => {
          if (i >= 6) {
            return <CardArtist data={artist} />;
          }
        })
      }
    </div>
    <div class="button">
      <Button type="secondary" hide="">View more</Button>
      <!-- <Button type="secondary" hide="extra hide">View less</Button> -->
    </div>
    <script>
      document.querySelector(".button").addEventListener("click", (event) => {
        let hiddenDiv = document.querySelector(".extra");
        if (hiddenDiv.classList.contains("hide")) {
          hiddenDiv.classList.remove("hide");
        } else {
          hiddenDiv.classList.add("hide");
        }
      });
    </script>
  </section>

  <section class="table">
    <!-- Table -->
  </section>
  <div class="background">
    <img class="blob_1" src="/svg/blob_single.svg" alt="blob" />
  </div>
</MainLayout>

<style>
  .poster {
    background: url(/img/checkers.webp);
    padding: var(--spacing_11) var(--spacing_4);
    position: relative;
    z-index: 2;
  }
  div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: var(--spacing_4);

    margin-top: var(--spacing_4);
  }

  .artists,
  .table {
    margin: 0 var(--spacing_4);
    position: relative;
    z-index: 1;
  }
  .hide {
    display: none;
  }

  .button {
    display: flex;
    justify-content: center;
    margin: var(--spacing_7);
  }

  .background {
    position: absolute;
    width: 100%;
    height: 200%;
    overflow: hidden;
  }

  .blob_1 {
    position: absolute;
    z-index: 0;
    rotate: 132deg;
    width: 200%;
    top: 45%;
    left: -65%;
  }
  @media (min-width: 800px) {
    .artists,
    .table {
      margin: 0 var(--spacing_12);
    }
    .background {
      height: 100%;
    }
    .blob_1 {
      position: absolute;
      z-index: 0;
      rotate: 0deg;
      width: 100%;
      top: 16%;
      left: 0%;
    }
  }
</style>
