---
import "../styles/general.css";

import MainLayout from "../layouts/MainLayout.astro";
import CardArtist from "../components/CardArtist.astro";
import Poster from "../components/Poster.astro";
import Button from "../components/Button.astro";

const data = await fetch("https://bxfurhdhskcxflbxstzf.supabase.co/rest/v1/karrusel?limit=6", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ4ZnVyaGRoc2tjeGZsYnhzdHpmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA1MDMzNTMsImV4cCI6MjAyNjA3OTM1M30.LOhTm5mG10QgwCONoiEr4awaIvHkbSl4G1wxOgPX4Mk",
  },
}).then((res) => res.json());
---

<MainLayout>
  <section class="poster">
    <Poster />
  </section>

  <section class="artists">
    <h2>Artists</h2>
    <div>
      {
        data.map((artist) => {
          return <CardArtist data={artist} />;
        })
      }
    </div>
    <div class="button">
      <Button type="secondary" link="/#">Read more</Button>
    </div>
  </section>

  <section class="table">
    <!-- Table -->
  </section>
</MainLayout>

<style>
  .poster {
    background: url(/img/checkers.webp);
    padding: var(--spacing_7) var(--spacing_4);
  }
  div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: var(--spacing_4);

    margin-top: var(--spacing_4);
  }

  .artists,
  .table {
    margin: 0 var(--spacing_4);
  }

  .button {
    display: flex;
    justify-content: center;
    margin: var(--spacing_7);
  }
  @media (min-width: 800px) {
    .artists,
    .table {
      margin: 0 var(--spacing_12);
    }
  }
</style>
