---
const { question, answer, variant } = Astro.props;
---

<div class="accordion_item" data-variant={variant}>
  <div class="accordion_header"><p>{question}</p><img class="arrow" src="/svg/arrow.svg" alt="arrow icon" /></div>
  <div class="accordion_content">
    <p>{answer}</p>
  </div>
</div>

<!------------------------------------------------------------------------ CSS --------------------------------------------------------------------------------->
<!------------------------------------------------------------------------ CSS --------------------------------------------------------------------------------->

<style>
  .accordion_item {
    border-bottom: 2px solid var(--primary_50);
  }

  .accordion_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font_body);
    font-size: 1rem;
    color: var(--primary_50);
    border-bottom: 0.5px solid var(--primary_50);
    padding: var(--spacing_3);
  }

  .accordion_content {
    display: none;
    padding: var(--spacing_3);
  }

  p {
    max-width: 85%;
  }

  /* Arrow - styling & rotation */
  .arrow {
    width: 25px;
    transition: transform 0.3s ease;
  }

  .rotate {
    transform: rotate(180deg);
  }
</style>

<!------------------------------------------------------------------------ JavaScript ------------------------------------------------------------------------->
<!------------------------------------------------------------------------ JavaScript ------------------------------------------------------------------------->

<script>
  // Find alle accordion-elementer
  const accordionItems = document.querySelectorAll(".accordion_item");

  // Der snakkes til hver accordion-item (header & arrow)
  accordionItems.forEach((item) => {
    const header = item.querySelector(".accordion_header");
    const arrow = item.querySelector(".arrow");

    // Lyt efter et click på hver accordion-item (header & arrow)
    header.addEventListener("click", () => {
      // Når der er klikket = Skjul alle accordion-indholdselementer
      accordionItems.forEach((accItem) => {
        const content = accItem.querySelector(".accordion_content") as HTMLElement;
        if (accItem !== item) {
          content.style.display = "none";
          accItem.querySelector(".arrow")?.classList.remove("rotate"); // Fjern rotation på andre pile
        }
      });

      // Skift visning af det aktuelle accordion-indhold
      const content = item.querySelector(".accordion_content") as HTMLElement;
      content.style.display = content.style.display === "block" ? "none" : "block";

      // Roter pilikonet
      arrow.classList.toggle("rotate");
    });
  });
</script>
