---
import Link from "../components/Link.astro";
const { data } = Astro.props;
---

<article>
  <Link link="index" variant="breadcrumb">Home</Link><p>/</p>
  <Link link="lineup" variant="breadcrumb">Line Up</Link><p>/</p>
  <Link link="artist" variant="breadcrumb">{data.name}</Link>
</article>

<style>
  article {
    display: flex;
    flex-direction: row;
    gap: var(--spacing_5);
  }
  p {
    font-family: var(--font_display);
    font-size: 1.25rem;
    color: var(--primary_50);
  }
</style>
