---
const { type, link, hide } = Astro.props;
---

<a class={type + " button " + hide} href={link}><slot /></a>

<style>
  .button {
    font-family: var(--font_body);
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary_50);
    filter: drop-shadow(0px 0px 10px var(--accent_600));

    border: none;
    border-radius: 6rem;

    padding: var(--spacing_4) var(--spacing_8);
    width: fit-content;
  }

  .button:hover {
    font-size: 1.1rem;
  }
  .button:visited {
    color: var(--primary_50);
  }

  /* TYPE */
  .primary {
    background-color: var(--accent_600);
  }
  .secondary {
    color: var(--primary_50);
    border: solid;
    border-color: var(--primary_50);
    background-color: transparent;
    filter: drop-shadow(0px 0px 5px var(--primary_50));
  }

  /* SIZE */
  .ticket {
    font-size: 0.75rem;
    padding: var(--spacing_3) var(--spacing_7);
  }

  @media (min-width: 800px) {
    .button {
      font-size: 1.125rem;
    }
  }
</style>
