---
import Content from "./Content.astro";
import Accordion from "./Accordion.astro";

const { heading, button, link } = Astro.props;
---

<article>
  <Content heading={heading} button={button} link={link}> <slot /></Content>

  <div>
    <Accordion question="Are there specific shuttle services from nearby cities to the festival?" answer="Yes, we offer shuttle services from select cities for your convenience. Check our website for detailed information on routes and schedules." />
    <Accordion question="What types of beverages are available at the festival bars?" answer="Our bars offer a diverse selection of beverages, including alcoholic and non-alcoholic options. Check our menu for the full range of choices." />
    <Accordion question="Can I charge my devices on-site, and are there designated charging stations?" answer="Yes, we provide designated charging stations for your convenience. Keep your devices charged and capture all those memorable festival moments." />
  </div>
</article>

<style>
  article {
    display: flex;
    flex-direction: column;
    gap: var(--spacing_7);

    background-color: var(--primary_800);
    border-radius: var(--radius_medium);
    padding: var(--spacing_5);

    margin: 2rem;
  }

  div {
    display: flex;
    flex-direction: column;
  }
  @media (min-width: 800px) {
    article {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: var(--spacing_10);
      gap: var(--spacing_11);
    }
    div {
      margin-top: var(--spacing_5);
    }
  }
</style>
