---
import Button from "../components/Button.astro";

const { heading, button, link } = Astro.props;
---

<article>
  <div>
    <h4>{heading}</h4>
    <slot />
  </div>
  <Button type="secondary" link={link} hide="">{button}</Button>
</article>

<style>
  h4 {
    padding-bottom: var(--spacing_4);
  }
  article {
    display: flex;
    flex-direction: column;
    gap: var(--spacing_8);
    align-items: center;
  }
</style>
