---
const { number, unit } = Astro.props;
---

<article>
  <p class="number">{number}</p>
  <p class="unit">{unit}</p>
</article>

<style>
  article {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .number {
    font-family: var(--font_display);
    font-size: 6rem;
  }
  .unit {
    font-family: var(--font_heading);
    font-size: 2rem;
    color: var(--accent_200);
  }

  @media (min-width: 800px) {
    .number {
      font-size: 11rem;
    }
    .unit {
      font-size: 3rem;
    }
  }
</style>
