---
const { variant, link, page } = Astro.props;
---

<a href={link} class={variant + " " + page}><slot /></a>

<style>


  .main {
    font-family: var(--font_display);
    font-size: 1.25rem;
    color: var(--primary_50);
    text-decoration: none;
    text-transform: uppercase;
  }
  .main:hover {
    filter: drop-shadow(0 0 4px var(--primary_50));
  }
  .active {
    text-decoration: underline;
    filter: drop-shadow(0 0 4px var(--primary_50));
  }

  .breadcrumb {
    font-family: var(--font_display);
    font-size: 1rem;
    color: var(--primary_50);
    text-decoration: none;
  }
  .breadcrumb:hover {
    filter: drop-shadow(0 0 4px var(--primary_50));
  }

  @media (min-width: 800px) {
    .breadcrumb {
      font-size: 1.25rem;
    }
  }
</style>
