<article>
  <h1>Line up</h1>

  <div class="mains">
    <div class="mains_desk">
      <div class="flex main">
        <p class="main">Acid Pauli</p>
        <img src="svg/star.svg" alt="star symbol" class="star_main" />
        <p class="main">Ame</p>
      </div>

      <img src="svg/star.svg" alt="star symbol" class="star_main hide_mob" />

      <div class="flex main">
        <p class="main">Haai</p>
        <img src="svg/star.svg" alt="star symbol" class="star_main" />
        <p class="main">Fjaak</p>
      </div>
    </div>
    <div class="flex main">
      <p class="main">Skin on Skin</p>
      <img src="svg/star.svg" alt="star symbol" class="star_main" />
      <p class="main">SPFDJ</p>
    </div>
  </div>

  <div class="subs">
    <div class="subs_desk">
      <div class="flex sub">
        <p class="sub">Anna Logic</p>
        <img src="svg/star.svg" alt="star symbol" class="star_sub" />
        <p class="sub">Cockwhore & Macho</p>
      </div>

      <img src="svg/star.svg" alt="star symbol" class="star_sub hide_mob" />

      <div class="flex sub">
        <p class="sub">Satori</p>
        <img src="svg/star.svg" alt="star symbol" class="star_sub" />
        <p class="sub">Vixen</p>
        <img src="svg/star.svg" alt="star symbol" class="star_sub" />
        <p class="sub">Schwofdrossel</p>
      </div>
    </div>

    <div class="subs_desk">
      <div class="flex sub">
        <p class="sub">Nayan</p>
        <img src="svg/star.svg" alt="star symbol" class="star_sub" />
        <p class="sub">Schaarup</p>
        <img src="svg/star.svg" alt="star symbol" class="star_sub" />
        <p class="sub">Eski</p>
        <img src="svg/star.svg" alt="star symbol" class="star_sub" />
        <p class="sub">VTSS</p>
      </div>

      <img src="svg/star.svg" alt="star symbol" class="star_sub hide_mob" />

      <div class="flex sub">
        <p class="sub">Boogie Rookie</p>
        <img src="svg/star.svg" alt="star symbol" class="star_sub" />
        <p class="sub">Mads Lorenzen</p>
      </div>
    </div>

    <div class="subs_desk">
      <div class="flex sub">
        <p class="sub">Okine</p>
        <img src="svg/star.svg" alt="star symbol" class="star_sub" />
        <p class="sub">Marshmellow</p>
        <img src="svg/star.svg" alt="star symbol" class="star_sub" />
        <p class="sub">Søren Skov</p>
      </div>

      <img src="svg/star.svg" alt="star symbol" class="star_sub hide_mob" />

      <div class="flex sub">
        <p class="sub">Dee Brown</p>
        <img src="svg/star.svg" alt="star symbol" class="star_sub" />
        <p class="sub">Djuma Soundsystem</p>
      </div>
    </div>

    <div class="subs_desk">
      <div class="flex sub">
        <p class="sub">Futte Rico</p>
        <img src="svg/star.svg" alt="star symbol" class="star_sub" />
        <p class="sub">Judith Van Waterkant</p>
      </div>

      <img src="svg/star.svg" alt="star symbol" class="star_sub hide_mob" />

      <div class="flex sub">
        <p class="sub">SEB Dalmar</p>
        <img src="svg/star.svg" alt="star symbol" class="star_sub" />
        <p class="sub">Storm</p>
        <img src="svg/star.svg" alt="star symbol" class="star_sub" />
        <p class="sub">Lucky Lube</p>
      </div>
    </div>

    <div class="flex sub">
      <p class="sub">Síofra</p>
      <img src="svg/star.svg" alt="star symbol" class="star_sub" />
      <p class="sub">tight Cheery</p>
      <img src="svg/star.svg" alt="star symbol" class="star_sub" />
      <p class="sub">Katz-K</p>
    </div>
  </div>
</article>

<style>
  article {
    display: flex;
    flex-direction: column;
    gap: var(--spacing_8);
    align-items: center;
  }

  .flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .mains {
    display: flex;
    flex-direction: column;
    gap: var(--spacing_3);
  }
  .main {
    gap: var(--spacing_6);
    font-family: var(--font_display);
    font-size: 2rem;
  }
  .star_main {
    width: 18px;
  }
  .subs {
    display: flex;
    flex-direction: column;
    gap: var(--spacing_2);
  }
  .sub {
    gap: var(--spacing_4);
    font-family: var(--font_display);
    font-size: 1.25rem;
  }
  .star_sub {
    width: 12px;
  }

  .hide_mob {
    display: none;
  }

  @media (min-width: 800px) {
    .hide_mob {
      display: block;
    }
    .mains_desk {
      display: flex;
      flex-direction: row;
      gap: var(--spacing_6);
    }
    .subs_desk {
      display: flex;
      flex-direction: row;
      gap: var(--spacing_4);
    }
  }
</style>
